
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&family=Open+Sans&display=swap')

* 
    font-family:  'Libre Baskerville', serif

.wrapper
    margin: 0 auto
    border-right: 1px solid grey

h1
    margin-top: 20px
    text-align: center
    text-shadow: hoff voff blur #000
    font-size: 32px

h2, h3
    text-align: center

h3
    font-size: 30px


body
    max-width: 1200px
    background: #D3D3D3
    padding-right: 20px
    padding-left: 20px
    padding-top: 40px
    box-sizing: border-box
    scroll-behavior: smooth
    margin: 0

.page
    margin: 0 auto
 


.header
    position: relative
    border: 1px solid rgba(34, 60, 80, 0.2)
    background: #FFA500
    vertical-align: center
    font-size: 21px
    

.list
    display: flex
    justify-content: space-around
    align-content: center
    padding: 0
    list-style-type: none

main
    display: flex
    // max-width: 1200px
    max-width: 100%


aside
    width: 40%
    background: #B0E0E6

a
    color: black
    Text-decoration: none
    &:hover
        color: orange

.contacts
    line-height: 40px  
    font-size: 20px

.skills
    line-height: 40px 
    font-size: 20px

.engl
    text-align: center
    font-size: 18px

.cv
    text-align: center
    margin-bottom: 20px

.photo 
    display: block
    width: 100%
.english
    width: 50%
    padding-left: 100px
    margin: 10px 0 20px

.myself
    width: 60%
    padding: 0 60px
    margin: 25px
    font-size: 20px
    line-height: 50px

p
    text-align: justify


.aboutme
    font-weight: 600px


footer
    height: 100px
    background: grey
    
.footer_item
    display: flex
    justify-content: space-between
    height: 80%
    width: 80%
    padding-bottom: -10px
    margin-left: 115px
    background: grey
    text-align: centr



.git_footer
    width: 100px
    height: 92px
    margin-top: 10px

.rss_footer
    width: 200px
    height: 100px

.footer_item_year
    margin-top: 40px
    font-size: 30px









